#!/bin/bash
###################################################################################
### Delete image files older than the specified number of days and delete empty ###
### scanning directories whose names being with a defined company prefix. ###

########################
### general settings ###
#PS4=':${LINENO}+'
#set -x

#########################
### general variables ###
SCAN_DIR="/scanning"
EXPORT_DIR="/tiffexport"
FILE_MAXAGE_DAYS=14
DIR_PREFIXES=("0" "N" "R" "S" "AC" "BR" "FC" "LP" "OC" "ZC")

#############################
### delete_scanning_files ###
function delete_scanning_files {
  echo "Deleting scanning files:"
  find "$(realpath ${SCAN_DIR})" -type f \( -name '*.TIF' -o -name '*.BSJ' \) -mtime +"${FILE_MAXAGE_DAYS}" -delete -print
  find "$(realpath ${SCAN_DIR})" -type l -mtime +"${FILE_MAXAGE_DAYS}" -delete -print
}

###################################
### delete_scanning_directories ###
function delete_scanning_directories {
  echo "Deleting scanning directories:"
  cd "$(realpath ${SCAN_DIR})"
  for PREFIX in "${DIR_PREFIXES[@]}"
  do
    mapfile -t LIST_2CLEAN < <( find "$(realpath ${SCAN_DIR})" -maxdepth 1 -type d \( -path "*"${EXPORT_DIR}"" -prune \) -o \( -name "${PREFIX}*" -mtime +"$FILE_MAXAGE_DAYS" -print \) )
    for TO_REMOVE in "${LIST_2CLEAN[@]}"
    do
      find "${TO_REMOVE}" -type d -mtime +"$FILE_MAXAGE_DAYS" -delete -print
    done
  done
}

###################################
### delete_export_directories ###
function delete_export_directories {
  echo "Deleting scanning directories:"
  cd "$(realpath ${SCAN_DIR}${EXPORT_DIR})"
  for PREFIX in "${DIR_PREFIXES[@]}"
  do
    mapfile -t LIST2_2CLEAN < <( find "$(realpath ${SCAN_DIR}${EXPORT_DIR})" -maxdepth 1 -type d \( -name "${PREFIX}*" -mtime +"$FILE_MAXAGE_DAYS" -print \) )
    for TO_REMOVE2 in "${LIST2_2CLEAN[@]}"
    do
      find "${TO_REMOVE2}" -type d -mtime +"$FILE_MAXAGE_DAYS" -delete -print
    done
  done
}

##############################
### main-invoking-function ###
### so that run in order   ###
function main-invoking-functions {
  delete_scanning_files
  delete_scanning_directories
  delete_export_directories
}

main-invoking-functions
