#!/bin/bash

# Check continuous logical log backup processes and send alerts by email if neccessary.

# -- Internal variables -------------------------------------------------------

script_name=$(basename "$0")
parent_dir="$(cd -- "$( dirname -- "${BASH_SOURCE[0]}" )" &> /dev/null && pwd)"

# One process is expected for each database server, for each of 'prod', 'scud' and 'ef'
expected_continuous_backup_process_count="3"

log_file="{{ informix_management_logs_path }}/common/${script_name}.log"

# -- General ------------------------------------------------------------------

check_continuous_backup_processes () {
    continuous_backup_process_count="$(pgrep -f -c 'ontape -c')"

    if [[ "${continuous_backup_process_count}" != "${expected_continuous_backup_process_count}" ]]; then
        error "Found '${continuous_backup_process_count}' of expected '${expected_continuous_backup_process_count}' continuous logical log backup processes"
        send_alert
        exit 1
    fi
}

load_logging_functions () {
    source "${parent_dir}/logging"
    if [[ $? -ne 0 ]]; then
        echo "${script_name}: Unable to source logging functions into environment" >&2
        exit 1
    fi

    initialise_logging
}

# -- Alerts -------------------------------------------------------------------

send_alert () {
{% if informix_management_alerts_enabled %}
    local error_message="Only '${continuous_backup_process_count}' of '${expected_continuous_backup_process_count}' continuous logical log backup processes are running. Please investigate."
    mailx -s "${USER}@$(hostname) - WARNING - Continuous logical log backup processes" {% for recipient in informix_management_alerts_config.check_continuous_backups %}{{ recipient }} {% endfor %}<<< "${error_message}"
{% else %}
    echo "Alerts disabled; no mail message(s) will be generated"
{% endif %}
}
# -- Entrypoint ---------------------------------------------------------------

main () {
    load_logging_functions
    
    info "Starting continuous logical log backup processes check"
    check_continuous_backup_processes
    info "Finished continuous logical log backup processes check"
}

main "${@}"

