#!/bin/bash

# Archive top-level TIFF export directories.

# -- Internal variables -------------------------------------------------------

tiff_dir="/scanning/tiffexport"
archive_dir="${tiff_dir}/oldtif"

# -- General ------------------------------------------------------------------

archive_tiff_directories () {
    find "${tiff_dir}" -maxdepth 1 -type d -mtime +0 ! -path "${archive_dir}"* -exec mv {} "${archive_dir}" \;
}

# -- Entrypoint ---------------------------------------------------------------

main () {
    archive_tiff_directories
}

main "${@}"
