#!/bin/bash

# Check SMS poll daemon log for order processing errors and generate alerts.

# -- Internal variables -------------------------------------------------------

script_name=$(basename "$0")

sms_log="{{ tuxedo_logs_path }}/${USER}/sms_poll.log"
sms_log_lines="100"

# -- General ------------------------------------------------------------------

check_user () {
    if [[ "${USER}" == "root" ]]; then
        echo "${script_name}: This script should be executed as a Tuxedo service user not root" >&2
        exit 1
    fi
}

create_mail_file () {
    mail_file=$(mktemp -t ${script_name}.XXXXXXX)
    if [[ $? -ne 0 ]]; then
        echo "Unable to create temporary mail file" >&2
        exit 1
    fi
}

check_orders () {
    readarray -t order_numbers_with_error < <(tail -${sms_log_lines} "${sms_log}" | grep -e "ERROR.*processing order" | cut -c35-41 | sort | uniq)
}

delete_mail_file () {
    rm -f "${mail_file}"
}

# -- Alerts -------------------------------------------------------------------

send_alerts () {
    for order_number in "${order_numbers_with_error[@]}"; do
        create_mail_file

        {
            echo "The following order is hanging on transmission: ${order_number}"
            echo "See the ${sms_log} file for last ERROR order."
            echo "1. Ensure all images are on the S: drive and the file path is correct - Check the document type on CHSCUD app."
            echo -e "2. You might have to set the order_status back to \"Y\" to attempt to re-transmit.\n"
        } >> "${mail_file}"

        send_alert "WARNING - Scud Order ${order_number}" "${mail_file}"
        delete_mail_file
    done
}

send_alert () {
    local subject="$1"
    local mail_file="$2"
{% if alerts.enabled %}
    mailx -r "${USER}@$(hostname)" -s "${subject}" {% for recipient in alerts_config.transmission_check %}{{ recipient }} {% endfor %}< "${mail_file}"
{% else %}
    echo "Alerts disabled; no mail message(s) will be generated"
{% endif %}
}

# -- Entrypoint ---------------------------------------------------------------

main () {
    check_user
    check_orders

    if [[ "${#order_numbers_with_error[@]}" -gt 0 ]]; then
        send_alerts
    fi
}

main "${@}"
